body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 70px;
}
h3 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: 	#000000;
}
td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: 	#000000;
}

