body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 70px;
}
h3 { 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: 	#000000;
}
.br{
    border:2px solid #000000;
}

